@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic);
@import "style.css" screen;
/* Font Variables */
/*************************** DO NOT CHANGE ANYTHING FROM HERE ***************************/
/*************************** DO NOT CHANGE ANYTHING FROM HERE ***************************/
/*************************** Mixins ***************************/
/* line 41, sass/style.scss */
html > body {
  background-color: #2c3e50;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  line-height: 160%;
  filter: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/* line 57, sass/style.scss */
.wrapper {
  width: 800px;
  margin: 0 auto;
}

/* line 62, sass/style.scss */
.coming-soon {
  font-size: 60px;
  font-size: 60/strip-units(16px)rem;
  font-weight: 100;
  color: #FFF;
  width: 100%;
  text-align: center;
  padding: 35% 0;
}
